Python/.vscode/settings.json
.DS_Store
Python/.mypy_cache/3.6/_ast.data.json
Python/.mypy_cache/3.6/_ast.meta.json
Python/.mypy_cache/3.6/_importlib_modulespec.data.json
Python/.mypy_cache/3.6/_importlib_modulespec.meta.json
Python/.mypy_cache/3.6/@plugins_snapshot.json
Python/.mypy_cache/3.6/abc.data.json
Python/.mypy_cache/3.6/abc.meta.json
Python/.mypy_cache/3.6/ast.data.json
Python/.mypy_cache/3.6/ast.meta.json
Python/.mypy_cache/3.6/builtins.data.json
Python/.mypy_cache/3.6/builtins.meta.json
Python/.mypy_cache/3.6/codecs.data.json
Python/.mypy_cache/3.6/codecs.meta.json
Python/.mypy_cache/3.6/io.data.json
Python/.mypy_cache/3.6/io.meta.json
Python/.mypy_cache/3.6/mmap.data.json
Python/.mypy_cache/3.6/mmap.meta.json
Python/.mypy_cache/3.6/posix.data.json
Python/.mypy_cache/3.6/posix.meta.json
Python/.mypy_cache/3.6/sys.data.json
Python/.mypy_cache/3.6/sys.meta.json
Python/.mypy_cache/3.6/types.data.json
Python/.mypy_cache/3.6/types.meta.json
Python/.mypy_cache/3.6/typing_extensions.data.json
Python/.mypy_cache/3.6/typing_extensions.meta.json
Python/.mypy_cache/3.6/typing.data.json
Python/.mypy_cache/3.6/typing.meta.json
Python/.mypy_cache/3.6/collections/__init__.data.json
Python/.mypy_cache/3.6/collections/__init__.meta.json
Python/.mypy_cache/3.6/collections/abc.data.json
Python/.mypy_cache/3.6/collections/abc.meta.json
Python/.mypy_cache/3.6/importlib/__init__.data.json
Python/.mypy_cache/3.6/importlib/__init__.meta.json
Python/.mypy_cache/3.6/importlib/abc.data.json
Python/.mypy_cache/3.6/importlib/abc.meta.json
Python/.mypy_cache/3.6/os/__init__.data.json
Python/.mypy_cache/3.6/os/__init__.meta.json
Python/.mypy_cache/3.6/os/path.data.json
Python/.mypy_cache/3.6/os/path.meta.json
